kenneth@appforge:~$ cat /etc/systemd/system/backup-appforge.timer
[Unit]
Description=Restic backup of appforge (general)

[Timer]
OnCalendar=*-*-* 02:30:00
Persistent=true

[Install]
WantedBy=timers.target